.event-card {
    position: relative;
    width: 262px;
    height: 288px;
    background-color:#1a2838;
    border-radius: 25px;
    overflow: hidden;
    transition: background-image 0.3s ease;
  }
  
  .icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    transition: filter 0.3s ease;
  }
  
  .event-title {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin: 50px 0 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;

  }
  